.details
{
  position: relative;
  width: 100%;
  padding: 20px;
  padding-top: 20px;
}
.details .user
{
  position: relative;
  min-width: 250px;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}
.details .user .fas
{
  position: absolute;
  padding: 6px 19px;
  right: 7%;
  bottom: 10%;
  background: #03A9F4;
  color: #FFF;
  text-decoration: none;
  border-radius: 6px;
}
.details .recentOrders
{
  position: relative;
  min-height: 530px;
  background: #FFF0;
  padding: 20px;
  padding-top: 5%;
  border-radius: 20px;
}
.details .pass a
{
  position: relative; 
  width: 100%;
  display: flex;
  text-decoration: none;
  color: #FFF;
  background: #03A9F4;
  border-radius: 30px;
}
.details .pass a .icon
{
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
}
.details .pass a .title
{
  position: relative;
  display: block;
  padding-right: 10px;
  line-height: 60px;
}
.cardHeader
{
  position: relative;
  margin: auto;
  width: 700px;
  display: flex;
  background-color: #FFF;
  /* justify-content: space-between;
  align-items: flex-start; */
  border: 5px solid #dbdada;
  padding: 10px;
  flex-direction: column;
  border-radius: 20px;
}
.cardHeader h2
{
  font-size: 25px;
  padding-top: 20px;
  height: 15%;
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;
}
.cardHeader .content
{
  font-size: x-large;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}
.cardHeader .content .row
{
  width: 80%;
  padding: 5px;
  font-weight: bold;
}
.content .row .select, 
.content .row .checkbox
{
  display: flex;
  justify-content: space-between;
}
.cardHeader .button
{
  display: flex;
  padding-inline: 50px;
  padding-top: 50px;
  justify-content: space-between;
}
input[type='button']
{
  width: 100%;
  background: #FF0000;
  outline: none;
  padding: 10px 20px;
  border-radius: 35px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 16px;
  letter-spacing: 1px;
  color: rgb(255, 255, 255);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  max-width: 150px;
  cursor: pointer;
  margin-bottom: 20px;
  font-weight: 600;
}

input[type=submit]
{
  width: 100%;
  background: rgb(255, 255, 255);
  outline: none;
  padding: 10px 20px;
  border-radius: 35px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 16px;
  letter-spacing: 1px;
  color: #666;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  max-width: 150px;
  cursor: pointer;
  margin-bottom: 20px;
  font-weight: 600;
}
/* Responsive */

@media (max-width: 768px)
{
  .cardHeader h2
  {
    font-weight: 600;
    font-size: 18px;
  }
}