@import '../model/assets/css/navigation.css';
@import '../model/assets/css/topbar.css';

.form
{
  position: relative;
  width: 100%;
  height: 100%;
  padding: 40px;
}
.form h1
{
  position: relative;
  color: #FFF;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 40px;
}
.form h1::before
{
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 35%;
  height: 4px;
  background: #FFF;
}
.form .inputBox
{
  width: 100%;
  margin-top: 20px;
}
.form .inputBox input[type='text'], .form .inputBox input[type='password']
{
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 35px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 16px;
  letter-spacing: 1px;
  /* color: rgb(255, 0, 0); */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

.form .inputBox input[type='button']
{
  width: 100%;
  background: #FF0000;
  outline: none;
  padding: 10px 20px;
  border-radius: 35px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 16px;
  letter-spacing: 1px;
  color: rgb(255, 255, 255);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  max-width: 150px;
  cursor: pointer;
  margin-bottom: 20px;
  font-weight: 600;
}
.form .inputBox [id=currentPassword]
{
  color: #f3ab59;
}
.form .inputBox [id=newPassword], .form .inputBox [id=confirmPassword]
{
  color: #598FF3;
}

.form .inputBox [type=text]:hover, .form .inputBox [type=password]:hover
{
  background-color: white;
  color: #000000;
  border: 1px solid #f3ab59;
}

.form .inputBox [id=newPassword]:hover, .form .inputBox [id=confirmPassword]:hover
{
  background-color: white;
  color: #000000;
  border: 1px solid #598FF3;
}

input[type=submit]
{
  width: 100%;
  background: rgb(255, 255, 255);
  outline: none;
  padding: 10px 20px;
  border-radius: 35px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 16px;
  letter-spacing: 1px;
  color: #666;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  max-width: 150px;
  cursor: pointer;
  margin-bottom: 20px;
  font-weight: 600;
}
.details
{
  position: relative;
  width: 100%;
  padding: 20px;
  padding-top: 20px;
}
.details .user
{
  position: relative;
  min-width: 250px;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}
.details .user .fas
{
  position: absolute;
  padding: 6px 19px;
  right: 7%;
  bottom: 10%;
  background: #03A9F4;
  color: #FFF;
  text-decoration: none;
  border-radius: 6px;
}

.btn
{
  position: relative;
  padding: 5px 10px;
  background: #03A9F4;
  color: #FFF;
  text-decoration: none;
  border-radius: 6px;
}
.details table
{
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}
.details table thead td
{
  font-weight: 600;
}

.inputBox .bottom
{
  display: flex;
  justify-content: space-between;
}


/* Responsive */

@media (max-width: 992px)
{
  .cardBox
  {
    grid-template-columns: repeat(2,1fr);
  }
}

@media (max-width: 768px)
{
  .details
  {
    grid-template-columns: repeat(1,1fr);
  }
}

@media (max-width: 480px)
{
  .cardBox
  {
    grid-template-columns: repeat(1,1fr);
  }
}