@import 'navigation.css';
@import 'topbar.css';

.details
{
  position: relative;
  width: 100%;
  padding: 20px;
  padding-top: 20px;
}
.details .recentOrders
{
  position: relative;
  min-height: 530px;
  background: #FFF0;
  padding: 20px;
  padding-top: 5%;
  border-radius: 20px;
}
.cardHeader
{
  position: relative;
  margin: auto;
  display: flex;
  background-color: #FFF;
  border: 5px solid #dbdada;
  padding: 10px;
  flex-direction: column;
  border-radius: 20px;
}
.cardHeader h1 {
  font-family: "sans-serif";
  font-size: 4rem;
  padding-bottom: 5%;
  text-align: center;
  padding-inline-start: 20px;
  padding-inline-end: 20px;
  color: #0399dd;
  letter-spacing: 0.1rem;
  text-shadow: 0px 3px 3px rgb(0 0 0 / 66%);
}
.cardHeader h2 {
  position: inherit;
  margin-bottom: -15%;
  opacity: 0.0;
  font-size: 6rem;
  letter-spacing: 0.1rem;
}

table.scrolldown tbody, table.scrolldown thead
{
  display: block;
}

th, td {
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  border: 1px solid #ddd;
}
tr:hover {
  background-color: #00000034;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
th {
  background-color: #0380b9;
  color: white;
}
thead tr th {
  height: 40px; 
  line-height: 40px;
}
table.scrolldown tbody {
    
  height: 300px;
  overflow-y: auto;
  overflow-x: hidden; 
}
tbody td, thead th {
  width : 15%;
}
td {
  text-align:center;
}
.cardHeader .button
{
  display: flex;
  padding-top: 50px;
  justify-content: space-between;
  padding-inline-start: 30px;
  padding-inline-end: 30px;
}

input[type='button']
{
  width: 100%;
  background: rgb(228, 228, 228);
  outline: none;
  padding: 10px 20px;
  border-radius: 35px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 16px;
  letter-spacing: 1px;
  color: #666;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  max-width: 150px;
  cursor: pointer;
  margin-bottom: 20px;
  font-weight: 600;
}

input[type="submit"]
{
  width: 100%;
  background: rgb(255, 255, 255);
  outline: none;
  padding: 10px 20px;
  border-radius: 35px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 16px;
  letter-spacing: 1px;
  color: #03A9F4;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  max-width: 150px;
  cursor: pointer;
  margin-bottom: 20px;
  font-weight: 600;
}

/* Responsive */

@media (max-width: 1663px)
{
  .cardHeader h2 {
    font-size: 4rem;
  }
  tbody td, thead th {
    width : 15%;
  }
}

@media (max-width: 992px)
{
  
  .cardHeader h2 {
    font-size: 2rem;
    padding-bottom: 5%;
  }

  th, td {
    border-radius:5px;
    padding: 0px;
    text-align: center;
    border: 0.1px solid #ddd;
  }
}

@media (max-width: 768px)
{
  .cardHeader h2
  {
    font-weight: 600;
    font-size: 18px;
    padding-bottom: 5%;
  }
  .cardHeader h1
  {
    font-size: 2.5rem;
  }
}
